
.workout-middle-wrapper {
  

  }
  .workout-middle-wrapper #legday{
    display: flex;
    align-items: center;
    flex-direction: column; 
    float: left;
    width: 100%;
    height: 100%;
  }
  .workout-middle-wrapper #pushday{
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    height: 100%;
  }

.workout-middle-wrapper #workoutContent {
    -webkit-border-radius: 1px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: rgb(0, 0, 0);
    opacity: 95%;
    margin-top: 2%;
    box-shadow: ivory;

    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
    border: .15rem solid #f6f6f6;
  }
  
.workout-middle-wrapper #workoutformFooter {
    background-color: #ffffff;
    border-top: 1px solid #ffffff;
    padding: .5rem;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  }
  
  
  
  /* TABS */
  
  .workout-middle-wrapper h2.inactive {
    color: #868686;
  }
  
  .workout-middle-wrapper h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #aaaaaa;
  }
  
  
  
  /* FORM TYPOGRAPHY*/
  
  .workout-middle-wrapper input[type=button], .workout-middle-wrapper input[type=submit], .workout-middle-wrapper input[type=reset]  {
    background-color: #e2e2e2;
    border: none;
    color: rgb(0, 0, 0);
    padding: .5rem 10rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 15px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(245, 245, 245, 0.4);
    box-shadow: 0 10px 30px 0 rgba(255, 255, 255, 0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 20px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .workout-middle-wrapper input[type=button]:hover, .workout-middle-wrapper input[type=submit]:hover, .workout-middle-wrapper input[type=reset]:hover  {
    background-color: #ffffff;
  }
  
  .workout-middle-wrapper input[type=button]:active,.workout-middle-wrapper  input[type=submit]:active, .workout-middle-wrapper input[type=reset]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  
  .workout-middle-wrapper input[type=text], .workout-middle-wrapper input[type=number]{
    background-color: #3f3f3f;
    border: none;
    color: #ffffff;
    padding: .5rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: .3rem;
    width: 85%;
    border: 3px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  

  
  
  .workout-middle-wrapper input[type=text], .workout-middle-wrapper input[type=number]:focus {
    background-color: #fff;
    border-bottom: 2px solid #ffffff;
  }
  
  .workout-middle-wrapper input[type=text]:placeholder {
    color: #ffffff;
  }
  
  
  
  /* ANIMATIONS */
  
  /* Simple CSS3 Fade-in-down Animation */
  .workout-middle-wrapper.workoutfadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-50%, -50%);
      transform: translate3d(-50%, -100%);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-50%, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  /* Simple CSS3 Fade-in Animation */
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  
  .workout-middle-wrapper .workoutfadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }
  
  .workout-middle-wrapper.workoutfadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  
  .workout-middle-wrapper .workoutfadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  
  .workout-middle-wrapper .wourkoutfadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  
  .workout-middle-wrapper .workoutfadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }
  
  /* Simple CSS3 Fade-in Animation */
  .workout-middle-wrapper .workoutunderlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    content: "";
    transition: width 0.2s;
  }
  
  .workout-middle-wrapper .workoutunderlineHover:hover {
    color: #0d0d0d;
  }
  
  .workout-middle-wrapper .workoutunderlineHover:hover:after{
    width: 100%;
  }
  .workout-middle-wrapper #workoutlabel{
    background-color: rgb(189, 189, 189);
    border-radius: 5%;
    text-align: center;
}
  
  
  /* OTHERS */
  
  