.navbar-brand{
    font-size: 2rem;
    padding-left: .5rem;
    letter-spacing: -.03rem;
}

.dropdown-menu-left {
    top: 0;
    left: -10rem; /* 10rem is the min-width of dropdown-menu */
    position: relative;
}
